﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>Html</h2>

<p>姓名 : @Html.TextBox("username")</p>
<p>帳號 : @Html.TextBox("account")</p>
<p>密碼 : @Html.Password("pwd")</p>
<p>
    性別 :
    @Html.RadioButton("gender", "A")男性
    @Html.RadioButton("gender", "B")女性
</p>
<p>
    興趣 :
    @Html.CheckBox("habby-1", "A")游泳
    @Html.CheckBox("habby-2", "B")閱讀
    @Html.CheckBox("habby-3", "C")看電影
</p>
<p>自我介紹 : @Html.TextArea("aboutme")</p>


@*<h2>Html</h2>

<p>姓名 : <input type="text" name="name" value="" /></p>
<p>帳號 : <input type="text" name="name" value="" /></p>
<p>密碼 : <input type="password" name="name" value="" /></p>
<p>
    性別 :
    <input type="radio" name="gender" value="A" />男性
    <input type="radio" name="gender" value="B" />女性
</p>
<p>
    興趣 :
    <input type="checkbox" name="h-1" value="A" />游泳
    <input type="checkbox" name="h-2" value="B" />閱讀
    <input type="checkbox" name="h-3" value="C" />看電影
</p>
<p>自我介紹 : <textarea></textarea></p>*@
